[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
email-validator = "*"
python-dotenv = "*"
python-multipart = "*"
hashids = "*"
passlib = "*"
python-jose = {extras = ["cryptography"], version = "*"}
aiofiles = "*"
logzero = "*"
pydantic = "*"
mysqlclient = "*"

[requires]
python_version = "3.8"
