[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-eradicate = "*"
flake8-docstrings = "*"
pytest = "*"
zest-releaser = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-cors = "*"
hashids = "*"
url-normalize = "*"
webargs = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
timeloop = "*"
flask-migrate = "*"
gunicorn = "*"
mysqlclient = "*"

[requires]
python_version = "3.7"
