<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#01b5f4">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#1946c3">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#35dde8">

    <!-- primary meta tags -->
    <title>{% block title %}{% endblock %}</title>
    <meta name="title" content="VH7">
    <meta name="description" content="A free and open source URL shortening, file sharing and pastebin service.">

    <!-- open graph/facebook meta tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://vh7.uk/">
    <meta property="og:title" content="VH7">
    <meta property="og:description" content="A free and open source URL shortening, file sharing and pastebin service.">
    <meta property="og:image" content="https://vh7.uk/static/meta.png">

    <!-- twitter meta tags -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://vh7.uk/">
    <meta property="twitter:title" content="VH7">
    <meta property="twitter:description" content="A free and open source URL shortening, file sharing and pastebin service.">
    <meta property="twitter:image" content="https://vh7.uk/static/meta.png">

    <!-- css -->
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/fa/css/all.min.css">
    {% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}

    {% block footer %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {% endblock %}
  </body>
</html>