<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/fa/css/all.min.css">
    {% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}

    {% block footer %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {% endblock %}
  </body>
</html>