{% extends "base.jinja2" %}

{% block title %}Changelog - VH7{% endblock %}

{% block content %}
<section class="section">
    <div class="container content">
        {{ cl }}
    </div>
</section>
{% endblock %}
