{% extends "base.jinja2" %}

{% block title %}Download - VH7{% endblock %}
{% block desc %}Download '{{ upload.original_filename|e }}' from VH7. Expires {{ upload.expires.strftime("%H:%m %d/%m/%Y") }}.{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="is-size-2">{{ upload.original_filename|e }}</h1>
            <div class="content">
                <ul>
                    <li><b>SHA256:</b> <code>{{ upload.hash }}</code></li>
                    <li><b>Expires:</b> {{ upload.expires.strftime("%H:%m %d/%m/%Y") }}</li>
                    <li><b>File Type:</b> {{ upload.mimetype|e }}</li>
                </ul>
            </div>

            {% if upload.filename %}
                <article class="message is-danger">
                    <div class="message-header">
                        <p>Danger</p>
                    </div>
                    <div class="message-body">
                        Files uploaded to VH7 are <b>not checked</b> for viruses,
                        spyware or other potentially unwanted programs. Please be
                        cautious when downloading files from people that you don't
                        know!
                    </div>
                </article>

                <a class="button is-primary" href="?dl=1">
                    <span class="icon">
                        <i class="fas fa-download"></i>
                    </span>
                    <span>Download</span>
                </a>
            {% else %}
                <article class="message is-info">
                    <div class="message-header">
                        <p>Expired</p>
                    </div>
                    <div class="message-body">
                        Sorry! This file has expired and has been deleted from
                        VH7.
                    </div>
                </article>
            {% endif %}
        </div>
    </section>
{% endblock %}