{% extends "base.jinja2" %}

{% block title %}VH7{% endblock %}

{% block content %}
<div id="app">
    <section class="hero is-primary is-medium">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    VH7
                </h1>
                <h2 class="subtitle">
                    A free and open source <u>URL shortening</u>, <u>file sharing</u> and <u>pastebin</u> service.
                </h2>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li v-bind:class="[tab == 'shorten' ? 'is-active' : '']" @click="tab = 'shorten'">
                            <a>Shorten</a>
                        </li>
                        <li v-bind:class="[tab == 'paste' ? 'is-active' : '']" @click="tab = 'paste'">
                            <a>Paste</a>
                        </li>
                        <li v-bind:class="[tab == 'upload' ? 'is-active': '']" @click="tab = 'upload'">
                            <a>Upload</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    {% include "partials/flash.jinja2" %}

    <section id="feedback-section" class="section" v-if="uploadProgress < 100 || result">
        <div class="container">
            <div class="notification" v-if="uploadProgress < 100">
                Your file is being uploaded (<% uploadProgress.toFixed(0) %>%)...

                <div style="padding-top: 1em">
                    <progress class="progress is-primary" :value="uploadProgress" max="100"><% uploadProgress %>%</progress>
                </div>
            </div>

            <div class="notification is-success" v-if="result">
                <button class="delete" v-on:click="result = null"></button>
                <p>Shortened to:<br>
                <span class="is-size-4"><code><% shortlink %></code></span></p>
                <p v-if="result.upload" class="is-italic is-size-7">This file will last until <% result.upload.expires | moment("HH:mm ddd Do MMM YYYY") %>.</p>
            </div>
        </div>
    </section>

    <section id="error-section" class="section" v-if="error">
        <div class="container">
            <div class="notification is-danger">
                <button class="delete" v-on:click="error = null"></button>
                <span v-html="error"></span>
            </div>
        </div>
    </section>

    <section id="shorten-section" class="section" v-if="tab == 'shorten'">
        <div class="container">
            <h1 class="title">Shorten</h1>

            <form @submit.prevent="handleShorten">
                <div class="field">
                    <label class="label">URL</label>
                    <div class="control has-icons-left">
                        <input class="input" type="url" v-model="shortenForm.url">
                        <span class="icon is-small is-left">
                            <i class="fas fa-link"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary" :disabled="disableSubmit">
                            <span class="icon">
                                <i class="fas fa-paper-plane"></i>
                            </span>
                            <span>Shorten</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section id="paste-section" class="section" v-if="tab == 'paste'">
        <div class="container">
            <h1 class="title">Paste</h1>

            <form @submit.prevent="handlePaste">
                <div class="field">
                    <label class="label">Code</label>
                    <div class="control">
                        <textarea class="textarea" v-model="pasteForm.code" style="font-family: monospace;" rows="30"></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Language</label>
                    <div class="control has-icons-left">
                        <div class="select">
                            <select v-model="pasteForm.language">
                                {% for lang in languages %}
                                    <option value="{{ lang['id'] }}">{{ lang["name"] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="icon is-small is-left">
                            <i class="fas fa-code"></i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary" :disabled="disableSubmit">
                            <span class="icon">
                                <i class="fas fa-paper-plane"></i>
                            </span>
                            <span>Paste</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section id="upload-section" class="section" v-if="tab == 'upload'">
        <div class="container">
            <h1 class="title">Upload</h1>

            <div class="notification is-info">
                Uploaded files will last between {{ config["UPLOAD_MIN_AGE"] }} to {{ config["UPLOAD_MAX_AGE"] }} days depending on their size.
                The maximum size for uploads is {{ config["UPLOAD_MAX_SIZE"] }} Mb.
            </div>

            <form @submit.prevent="handleUpload">
                <div class="field">
                    <label class="label">File</label>
                    <div class="control">
                        <div id="upload-file" class="file has-name">
                            <label class="file-label">
                                <input class="file-input" type="file" ref="file" v-on:change="handleFileUpload()">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a file…
                                    </span>
                                </span>
                                <span class="file-name">
                                    <span v-if="!uploadForm.file">No file uploaded</span>
                                    <span v-else><% uploadForm.file.name %></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary" :disabled="disableSubmit">
                            <span class="icon">
                                <i class="fas fa-paper-plane"></i>
                            </span>
                            <span>Upload</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title">Features</h2>
            <div class="columns">
                <div class="column content">
                    <h2 class="subtitle is-4">Open Source</h2>
                    <p>All of VH7's source code is available on <a href="https://github.com/jake-walker/vh7">GitHub</a> for everyone to see how VH7 works and contribute.</p>
                    <a href="https://github.com/jake-walker/vh7" class="button is-link is-small">View Source Code</a>
                </div>
                <div class="column content">
                    <h2 class="subtitle is-4">API</h2>
                    <p>VH7 has an easy to use API which can be easily integrated into your own applications.</p>
                    <a href="https://github.com/jake-walker/vh7/wiki/API" class="button is-link is-small">View API documentation</a>
                </div>
                <div class="column content">
                    <h2 class="subtitle is-4">Super Short Links</h2>
                    <p>VH7 has much shorter links compared to larger URL shorteners.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section" v-if="stats">
        <div class="container content">
            <h2 class="title">Stats</h2>
            <p>
                <ul>
                    <li><b>Shortened Links</b>: <% stats.shortenCount %></li>
                    <li><b>Pasted Code</b>: <% stats.pasteCount %></li>
                    <li><b>Uploaded Files</b>: <% stats.uploadCount %></li>
                    <li><b>Total</b>: <% stats.totalCount %></li>
                </ul>
            </p>
        </div>
    </section>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.statically.io/gh/vuelidate/vuelidate/5de65cdd/dist/vuelidate.min.js"></script>
    <script src="https://cdn.statically.io/gh/vuelidate/vuelidate/5de65cdd/dist/validators.min.js"></script>
    <script src="https://cdn.statically.io/gh/brockpetrie/vue-moment/0f81113a/dist/vue-moment.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        Vue.use(window.vuelidate.default);
        Vue.use(window.vueMoment.default);

        var app = new Vue({
            el: '#app',
            delimiters: ["<%", "%>"],
            data: {
                tab: 'shorten',
                shortenForm: {
                    url: ""
                },
                pasteForm: {
                    code: "",
                    language: "plaintext"
                },
                uploadForm: {
                    file: null
                },
                stats: null,
                uploadProgress: 100,
                result: null,
                error: null
            },
            computed: {
                disableSubmit() {
                    return this.uploadProgress < 100;
                },
                shortlink() {
                    if (!this.result) {
                        return null;
                    }

                    return window.location.origin + this.result.link;
                }
            },
            methods: {
                getStats() {
                    axios.get("/api/stats").then(function(response) {
                        if (response.status != 200) {
                            console.warn("Failed to collect stats, non 200 status code!");
                            return;
                        }

                        console.log("Fetched stats", response.data);
                        app.stats = response.data;
                    });
                },
                clearForms() {
                    this.shortenForm.url = "";
                    this.pasteForm.code = "";
                    this.pasteForm.language = "plaintext";
                    this.uploadForm.file = null;

                    if (this.$refs.file) {
                        this.$refs.file.value = "";
                    }
                },
                handleResponse(response) {
                    if (response.status != 200) {
                        this.handleError("Status code is not 200!");
                        return;
                    }

                    this.result = response.data;

                    this.clearForms();
                },
                handleError(error) {
                    if (error.response) {
                        // Error after sending (from server)
                        let e = error.response.data;
                        if (typeof e != "object" || e === null) {
                            console.log("The server's error is not in JSON format.");
                            this.error = "An unknown error occurred whilst performing the action. Please check the console for more details.";
                            console.error(error.response.data);
                            return;
                        }

                        if (e.errors) {
                            var errorList = null;
                            if (Array.isArray(e.errors)) {
                                errorList = e.errors;
                            } else if (e.errors.json) {
                                // Flatten error object's values into a single array
                                errorList = [].concat.apply([], Object.values(e.errors.json));
                            } else {
                                // Flatten error object's values into a single array
                                errorList = [].concat.apply([], Object.values(e.errors));
                            }

                            if (errorList != null) {
                                this.error = "The following errors have occurred whilst perfoming the action:<ul><li>" + errorList.join("</li><li>") + "</li></ul>";
                            } else {
                                consol.log(e.errors);
                                this.error = "An unknown error occurred whilst performing the action. Please check the console for more details.";
                            }
                        } else {
                            console.log("The server's is not in an expected JSON format.");
                            this.error = "An unknown error occurred whilst performing the action. Please check the console for more details.";
                            console.error(error.response.data);
                            return;
                        }
                    } else if (error.request) {
                        // Error before sending
                        this.error = "An unknown error occurred whilst performing the action. Please check the console for more details.";
                        console.log(error.request);
                    } else {
                        // Unknown
                        this.error = "An unknown error occurred whilst performing the action. Please check the console for more details.";
                        console.log(error.message);
                    }
                },
                handleShorten() {
                    console.log("Shortening URL " + this.shortenForm.url + "...");

                    axios.post("/api/shorten", {
                        url: this.shortenForm.url
                    }).then(this.handleResponse).catch(this.handleError);
                },
                handlePaste() {
                    console.log("Creating paste...");

                    axios.post("/api/paste", {
                        code: this.pasteForm.code,
                        language: this.pasteForm.language
                    }).then(this.handleResponse).catch(this.handleError);
                },
                handleUpload() {
                    console.log("Uploading file...");

                    this.uploadProgress = 0;

                    let formData = new FormData();
                    formData.append("file", this.uploadForm.file);

                    axios.post("/api/upload", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        },
                        onUploadProgress: this.onUploadProgress
                    }).then(this.handleResponse).catch(this.handleError);
                },
                handleFileUpload() {
                    if (this.$refs.file.files.length > 0) {
                        this.uploadForm.file = this.$refs.file.files[0];
                    }
                },
                onUploadProgress(progressEvent) {
                    this.uploadProgress = (progressEvent.loaded / progressEvent.total) * 100;
                }
            },
            watch: {
                tab: function(val) {
                    window.location.hash = val;
                }
            },
            mounted() {
                var hash = window.location.hash.substring(1);
                this.tab = hash == "shorten" || hash == "paste" || hash == "upload" ? hash : "shorten";

                this.getStats();
            }
        });
    </script>
{% endblock %}