{% extends "base.jinja2" %}

{% block title %}{{ current_user.username }} - VH7{% endblock %}

{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ current_user.username }}'s Account
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h2 class="title is-4">Information</h2>

            {% include "partials/flash.jinja2" %}

            <div class="content">
                <p>
                    <ul>
                        <li><b>Created:</b> {{ current_user.created.strftime("%H:%M %d/%m/%Y") }}</li>
                        <li><b>Updated:</b> {{ current_user.updated.strftime("%H:%M %d/%m/%Y") }}</li>
                        <li><b>Short Links:</b> {{ current_user.short_links | length }} <a href="/links">(view)</a></li>
                    </ul>
                </p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h2 class="title is-4">API Key</h2>
            <div class="content">
                <p>
                    Your API key can be used to use the API while being logged
                    into your account. This allows you to still save your links
                    to your account while using the API.
                </p>
                {% if current_user.api_key %}
                    <p class="has-text-danger">
                        Your API key provides <b>full access</b> to your account.
                        Treat it like a password.
                    </p>
                    <pre><code>{{ current_user.api_key }}</code></pre>
                {% else %}
                    <p class="is-italic">
                        You currently have no API key assigned to your account.
                        Click the regenerate API key button below to create one.
                    </p>
                {% endif %}
            </div>
            <a href="/account/regen_api_key" class="button is-primary">
                <span class="icon">
                    <i class="fas fa-sync"></i>
                </span>
                <span>Regenerate API Key</span>
            </a>
            {% if current_user.api_key %}
                <button id="show-qr" class="button is-primary">
                    <span class="icon">
                        <i class="fas fa-qrcode"></i>
                    </span>
                    <span>Show QR Code</span>
                </button>
            {% endif %}
        </div>
    </section>

    <div id="qr-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card" style="padding: 1em;">
            <header class="modal-card-head">
                <p class="modal-card-title">API Key QR Code</p>
                <button id="qr-modal-close" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <p>
                    Below is a QR code of your account's API key. Scan it using
                    compatible apps to login to your VH7 account.

                    <span class="has-text-danger">
                        Your API key provides <b>full access</b> to your account.
                        Treat it like a password.
                    </span>
                </p>

                <div class="has-text-centered" style="padding: 1em;">
                    <img src="{{ qrcode(current_user.api_key) }}">
                </div>
            </section>
        </div>
    </div>

    <section class="section">
        <div class="container">
            <h2 class="title is-4">Details</h2>
            <div class="content">
                <p>
                    <ul>
                        <li><b>Username:</b> {{ current_user.username }}</li>
                        <li>
                            <b>Email:</b> {{ current_user.email }}
                            {% if current_user.confirmed %}
                                <span class="tag is-success">Confirmed</span>
                            {% else %}
                                <span class="tag is-warning">Unconfirmed</span>
                            {% endif %}
                        </li>
                    </ul>
                </p>
            </div>
            <div class="buttons">
                <a href="/account/details" class="button is-primary">
                    <span class="icon">
                        <i class="fas fa-user-edit"></i>
                    </span>
                    <span>Update Details</span>
                </a>
                <a href="/account/password" class="button is-link is-outlined">
                    <span class="icon">
                        <i class="fas fa-key"></i>
                    </span>
                    <span>Change Password</span>
                </a>
                <a href="/account/delete" class="button is-danger is-small is-outlined">
                    <span class="icon">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span>Delete Account</span>
                </a>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ super() }}
    <script>
        $("#show-qr").click(function() {
            $("#qr-modal").addClass("is-active");
        });

        $("#qr-modal-close").click(function() {
            $("#qr-modal").removeClass("is-active");
        });
    </script>
{% endblock %}
