{% extends "base.jinja2" %}
{% from "macros/form_helpers.jinja2" import render_field %}

{% block title %}Password Reset - VH7{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title is-2">Password Reset</h1>

            {% include "partials/flash.jinja2" %}

            <form action="{{ url_for('users.forgot_password') }}" method="post">
                {{ form.csrf_token }}
                {{ render_field(form.email, placeholder="Email Address") }}
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">
                            <span class="icon">
                                <i class="fas fa-paper-plane"></i>
                            </span>
                            <span>Send</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}