<p>
    Hello {{ user.username }},
</p>
<p>
    Please follow the following link to reset your password:
</p>
<p>
    <a href="{{ reset_url }}">{{ reset_url }}</a>
</p>
<p>
    If you did not request this email, please ignore it.
</p>
<p>
    Thanks!<br>
    {{ config.INSTANCE_OWNER }}
</p>